.side-bar
  .side-bar-top
    .user-name
      TESTさん
    .btn-box
      =link_to "#", class: "btn-box__group-maiking" do
        .i.fa.fa-edit
      =link_to "#", class: "btn-box__user-setting" do
        .i.fa.fa-cog
  .side-bar-bottom
    .group-box
      .group-box__group-name
        グループA
      .group-box__first-message
        こんにちは！